{% extends "templates/app.twig" %}



{% block contentOfNavBar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                    <!-- /input-group -->
                </li>


                <li>
                    <a href="#"><i class="fa fa-desktop fa-fw"></i> Applications<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for app in apps %}
                            <li>
                                <a href="/apps/{{ app.name }}/users"> {{ app.name | upper }}</a>

                            </li>
                        {% endfor %}

                    </ul>
                    <!-- /.nav-second-level -->
                </li>



                <li>
                    <a href="/users"><i class="fa fa-users fa-fw"></i> Users</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <br>
        <div class="row">
            <div class="col-lg-12" style="width: 100%;">
                <div  role="alert" id="result"></div>
                <button id="pdf">PDF</button>
                <button id="excel" style="margin-bottom: 6px;">EXCEL</button>
                <div class="panel panel-default">

                    <div class="panel-heading">

                        <div class="row">
                            <div class="col-md-4"><span style="font-weight: bold;">Users of Application {{ app.name | upper }}</span></div>
                            <div class="col-md-4"><span> <a href="/apps/{{ app.name }}/update"  style="cursor: pointer;"><i class="fa fa-edit fa-fw"></i> Update {{ app.name }}</a></span></div>
                            <div class="col-md-4"><span> <a href="#" onclick="deleteApplication()" style="cursor: pointer;"><i class="fa fa-trash fa-fw"></i> Delete {{ app.name }}</a></span></div>
                        </div>


                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="example" class="display nowrap" style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                {% for field in fields %}
                                    <th>{{ field.name }}</th>
                                {% endfor %}
                                <th>ADUsername</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                            {% for field in fields %}
                                <td>{{ user[field.name] }}</td>
                            {% endfor %}
                                    <td contenteditable="true" id="{{ user['ID'] }}">{{ user['ADUsername'] }}</td>
                            {% endfor %}

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- -->

    </div>

<script type="text/javascript">
    var table=  $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [

        ]
    } );
function deleteApplication(){
    var txt;
    var r = confirm("Do you really want to delete app {{ app.name | upper }} ?");
    if (r == true) {
        $.ajax({url: "/apps/{{ app.name }}/delete", type:"POST",  success: function(result){
                displayAlert(result);
            }})
    }

}
function displayAlert(result){
    if(result!=""){
        $("#result").attr('class', 'alert alert-success  alert-dismissible');
        $("#result").html("Success <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>");
    }else {
        $("#result").attr('class', 'alert alert-danger  alert-dismissible');
        $("#result").html("Failure <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>");
    }
    setTimeout( function() {
        // Code to do stuff after 300ms
        $("#result").removeClass("alert alert-success");
        $("#result").html("");
    }, 1000);
    }
    var oldValue;
    $("td[contenteditable=true]").mousedown(function () {
        oldValue = $(this).text() ;
    })
    $("td[contenteditable=true]").blur(function(){
        var userid = $(this).attr("id") ;
        var newValue = $(this).text() ;


if(newValue!= oldValue){
    $.ajax({url: "/apps/ajax/{{ app.name }}", type:"POST", data:{id : userid,newValue:newValue}, success: function(result){
            displayAlert(result);
            location.reload(true);
        }});
}




    });
    //generate pdf table
    $('#pdf').click( function () {
        var columns = [{% for field in fields %}
            "{{ field.name }}",
            {% endfor %} "ADUsername"];

        var rows = [
            {% for user in users %}
            {% if loop.last %}
            [{% for field in fields %}"{{ user[field.name] }}", {% endfor %}  "{{ user.ADUsername }}"]
                    {% else %}
                [{% for field in fields %}"{{ user[field.name] }}", {% endfor %} "{{ user.ADUsername }}"],
            {% endif %}
            {% endfor %}


        ];

// Only pt supported (not mm or in)
        var doc = new jsPDF('p', 'pt');
        doc.autoTable(columns, rows);
        doc.save('table.pdf');
    });

    $("#excel").click(function(e){
        $.ajax({url: "/apps/ajax/excel/{{ app.name }}", type:"POST", success: function(result){
                var res=$.trim(result);
                if(res!=""){
                    e.preventDefault();
                    window.location.href='/appUsers.xlsx';
                }
            }});
    });

</script>

{% endblock %}